#MESPREUVE {
    transition: transform 0.3s ease, border-color 0.3s ease;
    border: 2px solid #000;
    background-image: url('MESPREUVE/phot-css.jpg');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    color : white;
}

#MESPREUVE:hover {
    transform: scale(1.1); 
    border-color: yellow; 
    
    cursor: pointer;
    z-index: 10; 
}